    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  nav ul {  
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-right: 10px;
  }

  nav li {  
    /*display: flex;
    align-items: center;*/
    margin-right: 10px;
    display: inline-block;
  } 
  .nav-centered-items {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    flex-grow: 1; /* Allows it to take up available space */
  }
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  nav a:hover {
    background-color: darkgray;
  } 

  /*nav li .nav-right-item {
    position: absolute;
    right: 10;
    text-align: right;
  }*/

  .med-input {
    width: 300px;
  }

    body {
        background-image: url('./images/athens.jpg');
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center center; /* Centers the image */
        background-size: cover; /* Ensures the image covers the entire area */
        background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    }

    .mainForm {
        margin-left: 5%;
        margin-top: 5%;
        color: gold;
    }
    .mainForm h1 {
        color: gold;
        font-size: 3rem;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .mainForm h2 {
        color: gold;
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    #introText {
        color: gold;
        font-size: large;
        max-width: 300px;
    }

    #book {
        margin-top: 3%;
    }